body {
  font: 12px Verdana, Arial, sans-serif;
  width: 300px;
  margin: 0;
  padding: 0}


a {
  color: #00B7FF;
  text-decoration: none}

dl {
  border: 1px solid #ddd;
  background: #f2f2f2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 26px 20px 0 63px;
  margin: 0}

dd,dt {
  margin: 0;
  padding: 0}
  
  dd {
      position:relative;
      margin-bottom: 30px}
  
h1 {
    color:#ff5827;
    font-weight: normal}

span {
  text-indent: -9999px;
  position: absolute;
  left: -44px;
  top: -13px;
  height: 39px;
  width: 26px}
  
span.days-0 {  background: transparent url('/images/days-sprite-mock.png') no-repeat 0 0}
span.days-1 {  background: transparent url('/images/days-sprite-mock.png') no-repeat -26px 0}
span.days-2 {  background: transparent url('/images/days-sprite-mock.png') no-repeat -52px 0}